<!DOCTYPE html>
<html>
<head>
  <title> Melissa Signorini </title>
  <link rel="stylesheet" type="text/css" href="style.css"
</head>
<body>

body{
  max-width: 800px;
  margin: 20px auto;
  font-family: 'Be Vietnam',sans-serif;
}

.center-top-content{
  margin: 0 auto;
  max-width: 400px;
  text-align: center;
  border-bottom: : 2px solid black;
  text-transform:uppercase;
}

.personal-title{
  font-weight: bold;
  text-align: center;
  color: grey;
  font-style: italic;
}

h1{
  color: #33485E
(51,72,94);
  font-size: 36px;
  text-transform: uppercase;
  letter-spacing: 0.8em;
}

p.highlight-this{
  word-wrap: normal;
  font-size: 20px;
}
p,
h1,
h2,
h3,
h4,
h5,
{
  font-family: 'Varela Round', sans-serif;
  text-align: left;
}
.h_line{
  width: 80%;
}
.nav{
  padding: 0;
  margin:0;
  text-align: center;
  list-style: none;
}
.nav li{
  display: inline;
  content: "|"
}
.nav a{
  display: inline-block;
  padding:8px;
}
.main-content{
  width: 80%;
  text-align: center;
}
img{
  float: right;
  max-width: 33%;
}
.intro{
  line-height: 3.0%;
}
.highlight-this{
  background-color: #33485e
  padding-bottom: 3px;
  padding-top:3px;
  padding-left: 5px;
}
h2{
  color: white;
  padding:5px;
  background-color:#33485e;
  text-align:left;
}
h3{
  font-weight: normal;
}
h4{
  font-weight: normal;
}
h5{
  font-style: italic;
  font-weight: normal;
}
.container-experience h1,h2,h3,h4,h5{
  margin-top: 5px;
  margin-bottom: 5px;
}
.container-experience h5{
  font-style: italic;
}
.container-experience p{
  font-size: 14px;
}
</body>
</html>
