<!DOCTYPE html>
<html>
<head>
  <title> Melissa Signorini </title>
  <link rel="stylesheet" type="text/css" href="style.css"
</head>
<body>

body{
  max-width: 800px;
  margin: 20px auto;
  font-family: 'Be Vietnam',sans-serif;
}

.center-top-content{
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30pxl
  max-width: 400px;
  text-align: center;
  border-bottom: 2px solid black;
  text-transform:uppercase;
}

.personal-title{
  font-weight: bold;
  text-align: center;
  color: grey;
  font-style: italic;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Varela Round', sans-serif;
  text-align: left;
}

h1{
  color: #33485E;
  font-size: 80px;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-bottom: 0;
}

h2{
  color: white;
  padding:5px;
  background-color:#33485e;
  text-align:left;
}

h4,h5{
  font-weight: 400;
}

h5{
  font-style: italic;
}

.nav-links{
  max-width: 400px;
  margin: 0 auto 30px;
  padding-left: 0;
}

.nav-links li{
  display: inline block;
}

.nav-links > li: not(:last-child)::after{
  content: "|"
  margin: 0.5em;
}

.main-content{
  width: 80%;
  margin-0 auto;
}

.introduction{
  line-height: 1.5;
  overflow: auto;
}

.introduction img{
  width: 40%
  float:right;
  margin-left: 20px;
  margin-top: 16px;
  margin-bottom: 20px;
}

span.highlight {
  background-color: #33485E
  padding: 3px 5px;
  color: white;
  font-weight: bold;
}
.container-experience h2, .container-experience h3, .container-experience h4,.container-experience h5{
  margin-top: 5px;
  margin-bottom: 5px;
}

.h_line{
  width: 80%;
}

.nav a{
  display: inline-block;
  padding:8px;

img{
  float: right;
  max-width: 33%;
}

.intro{
  line-height: 3.0%;
}
.highlight-this{
  background-color: #33485e
  padding-bottom: 3px;
  padding-top:3px;
  padding-left: 5px;
}

h3{
  font-weight: normal;
}
h4{
  font-weight: normal;
}
h5{
  font-style: italic;
  font-weight: normal;
}

.container-experience h5{
  font-style: italic;
}
.container-experience p{
  font-size: 14px;
}
</body>
</html>
