body{
  max-width: 800px;
  text-align: center;
  margin: auto;
}

.jumbotron{
  padding: 0;
  background-color: white;
}

.navbar{
  float: right;
  background-color: white;
}
h3{
  text-align: left;
}

h2{
  text-align: left;
  font-weight: normal;
  font-family: 'Poppins', sans-serif;
}
