body{
  max-width: 800px;
  text-align: center;
  margin: auto;
  background-color: #bdfcff;
}

.jumbotron{
  background-color: #bdfcff;
}

.navbar{
  float: center;
  background-color: black;
}

h1{
  background-color: #bdfcff;
  font-family: 'Lobster', cursive;
}

h2{
  text-align: left;
  font-weight: normal;
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  color: black;
  padding: none;
  background-color: #bdfcff;
}

h3{
  font-size: 20px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  color: black;
}

h4{
  font-size: 30px;
  font-style: italic;
  text-align: center;
  font-family: Poppins, sans-serif;

}

#skills{
  text-align: center;
  color: black;
  font-size: 50px;
  padding: 40px;
  margin: 0 auto;
}
hr{
  display: block;
  color: black;
  margin-top: 0.5cm;
  margin-bottom: 0.5cm;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 5px;
}


.col-md-6{
  align-items: center;
  font-size: 20px;
  color: black;
  margin: 0 auto;
  padding-bottom: 30px;
  text-align: justify;
  padding-left: 30px;
}

.description{
  align-content: center;
  font-weight: bold;
  font-style: normal;
  font-family: 'Baloo Bhai', sans-serif;
}

.highlight{
  color: #fac7c3;
}

.personal-title{
  background-color: #bdfcff;
  font-family: 'Indie Flower', cursive;
}

.ImageBorder{
  border-width: 100px;
  border-color: pink;
}

.nav-links{
  list-style: none;
  font-size: 12px;
  color: pink;
  padding-top: 70px;
  align-items: center;
}

.ul{
  list-style: none;
  font-size: 20px;
}

.p{
  align-content: right;
}

.col-md-8{
  padding-bottom: none;
  line-height: inherit;
}

#school{
  text-align: center;
  border-top: 20px;
  border-color: white;
  border-style: dotted;
  font-family: Poppins, sans-serif;
  padding-bottom: 30px;
}
